<a href="https://colab.research.google.com/github/LeeHuiJong/SkillTreePython/blob/main/2_3_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9D%98_%EC%9E%90%EB%A3%8C%ED%98%95_%EB%A6%AC%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2-3.파이썬의 자료형:리스트
---
* 날짜:
* 이름:

## 개념정리
---

리스트 자료형은 파이썬의 다양한 군집자료형 중의 하나입니다.

### (1) 생성

* `[ ]` 기호를 통해 빈 리스트를 생성합니다.

```
a = []
print(a, type(a) )
```

In [ ]:
a=[]
print(a,type(a))

[] <class 'list'>

#### **리스트의 요소**

리스트의 요소는 문자열 뿐만 아니라 또 다른 리스트, 수치 자료형 등 다양한 요소들을 포함할 수 있습니다. 리스트 안의 요소들은 통일 하지 않아도 유효합니다.

```
a = [1, "a", True, [1,2,3]]
print(a, type(a))
```

In [ ]:
a=[1,"a",True,[1,2,3]]
print(a,type(a))

[1, 'a', True, [1, 2, 3]] <class 'list'>

### (2) 수정과 삭제

리스트의 값을 수정하거나 삭제할 수 있습니다.

#### *수정*★

```
a = [1,2,3,4]
a[0] = "a"
print(a)
```

In [ ]:
a=[1,2,3,4]
a[3]="c"
print(a)

[1, 2, 3, 'c']

#### **삭제**


```
a = [1,2,3,4]
del a[0]
print(a)
```

In [ ]:
a=[1,2,3,4]
del a[0:4]
print(a)

[]


### (3) 인덱싱과 슬라이싱

앞서 문자열 자료형에서 이미 한 것과 마찬가지로 인덱싱과 슬라이싱 기능을 사용할 수 있습니다. 인덱싱과 슬라이싱에 사용되는 방식은 문자열 자료형과 동일합니다.


#### **인덱싱**

```
a = [1,2,3,4,5]
print(a[0]) # 인덱싱
```

In [ ]:
a=[1,2,3,4,5]
a[0]

1


#### **슬라이싱**

```
print(a[:2]) # 슬라이싱
```

In [ ]:
a[:2]

[1, 2]

### (4) 리스트의 연산

리스트의 연산은 `+`(더하기)와 `*`(곱하기) 만 사용할 수 있습니다. 이 때 더하기는 리스트끼리의 덧셈만 가능하며, 곱하기는 리스트와 정수값의 곱만 가능함을 주의해야 합니다. 리스트끼리의 덧셈 결과는 두 리스트를 이어 붙인 리스트가 되고 리스트와 정수의 곱은 리스트의 정수크기만큼 이어붙인 리스트가 됩니다.

#### **더하기**

```
a = [1,2,3,4,5]
b = [6,7,8,9,10]
c = 2
print(a+b) 
```

In [ ]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]
c=2
print(a+b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a+c #같은 계열의 자료만 더할수 있다 그래서 오류가 뜬다

TypeError: ignored

#### **곱하기**

```
a = [1,2,3,4,5]
b = [6,7,8,9,10]
c = 2
print(a*c)
```

In [ ]:
a*c

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### (5) 리스트 메소드

지난번 문자열 메소드와 마찬가지로 리스트에도 다양한 내장함수 및 메소드가 존재합니다. 

|| 종류|
|--|--|
|내장함수| `len()`, `max()`, `min()`, `sum()`, `list()`|
|메소드| `.append()`, `.extend()`, `.count()`, `.index()`, `.insert()`, `.pop()`, `.remove()`, `.reverse()`, `.sort()`

####  **내장함수**

* `len()`: 길이를 구합니다.
* `max()`: 최대값을 구합니다.
* `min()`: 최소값을 구합니다.
* `sum()`: 모든값을 더합니다.

```
a = [1,2,3,4]
print(len(a))
print(max(a))
print(min(a))
print(sum(a))
```

In [ ]:
a=[1,2,3,4]
print(len(a))
print(max(a))
print(min(a))
print(sum(a))

4
4
1
10

#### **메소드 : 추가**

* `***append(obj)***` : obj 추가 ★
* `extend(seq)` : seq 이어붙이기 ★
* `insert(index, obj)` : index 위치에 obj 삽입

```
a = [1,2,3]
b = [4]

a.extend(b)
print(a)
a.append(5)
print(a)
a.insert(5,6)
print(a)
```

In [ ]:
a=[1,2,3]
b=[4]

a.append([5]) #append 는 extend와 다르다 
a

[1, 2, 3, [5]]

In [ ]:
a=[1,2,3]
b=[4]
a.extend([6])
a #extend 는 덧셈이랑 비슷하다

[1, 2, 3, 6]

In [ ]:
a=[1,2,3,4]
a.insert(0,3)
a #insert는 사이에 자료를 넣는거다

[3, 1, 2, 3, 4]

In [ ]:
a=[1,2,3,4]
a.insert(3,3.5)
a

[1, 2, 3, 3.5, 4]

#### **메소드: 제거**

* `remove(obj)` : obj 제거 (중복시 앞순서부터 제거)
* `pop()` : 마지막 요소제거

```
a = [1,2,3,2,5]
a.remove(1) 
print(a)
a.remove(2)
print(a)
a.pop()
print(a)
```

In [ ]:
a=[1,2,3,2,5]
a.remove(1)
a #del은 몇번째의 자료를 지우는것 remove는 선언하는 자료를 지우는것

[2, 3, 2, 5]

In [ ]:
a.remove(2)
a #다 지워지는게 아니라 앞에서 하나씩 지워진다

[3, 2, 5]

In [ ]:
a=[1,2,3,2,5]
a.pop()
a #pop은 마지막을 지우는 것

[1, 2, 3, 2]

#### **메소드: 기타**

* `count(obj)` : obj 개수 카운트
* `index(obj)` : obj 위치 인덱싱 (중복시 앞순서부터)
* `reverse()`: 거꾸로
* `sort()`: 정렬

```
a = [2,2,1,3,3,3]
print(a.count(3))
print(a.index(2))

a.reverse()
print(a)
a.sort()
print(a)
```

In [ ]:
a=[2,2,1,3,3,3]
a.count(3)

3

In [ ]:
a.index(3) #중복이 되면 가장 앞에 있는 것을 알려준다

3

In [ ]:
a.reverse()
a #실행하는 셀의 연속해서 되는 경우를 주의

[3, 3, 3, 1, 2, 2]

In [ ]:
a.sort()
a #sorted 와 같은 의미를 지닌다 (내장함수)

[1, 2, 2, 3, 3, 3]

### (6) 다중리스트

리스트 안에 리스트가 존재할 수 있습니다. 복잡한 리스트 이더라도 특정 요소에 접근이 가능해야 합니다. 

앞서 배운대로 `a[0]`과 `a[1]`에 해당하는 요소는 무엇일까요? 생각해보고 코드를 작성해 확인해 봅시다.

```
a = [[1,2,3], [4,5,6]]
a[0], a[1]
```

In [ ]:
a=[[1,2,3],[4,5,6]]
a[0],a[1]

([1, 2, 3], [4, 5, 6])


a[0]과 a[1] 자체가 하나의 리스트 입니다. 그렇다면 각 리스트에 다시 인덱싱을 하여 원하는 요소를 얻을 수 있겠네요. 3과 4를 아래와 같이 인덱싱 할 수 있습니다.

```
a = [[1,2,3], [4,5,6]]
a[0][-1], a[1][0]
```

In [ ]:
a=[[1,2,3],[4,5,6]]
a[0][-1],a[1][0]

(3, 4)

## 문제풀이
---

**예제 01**

과일메뉴가 다음과 같습니다. 리스트로 작성하세요

|과일|
|--|
사과
바나나
감자
메론
복숭아
딸기

In [ ]:
a=['사과','바나나','감자','메론','복숭아','딸기']
a

['사과', '바나나', '감자', '메론', '복숭아', '딸기']

**예제 02**

위에서 만든 리스트에 "포도"를 추가하세요

In [ ]:
a.append('포도')
a

['사과', '바나나', '감자', '메론', '복숭아', '딸기', '포도']

**예제 03**

"감자"가 잘못 들어가 있었습니다. "감자"를 삭제하세요

In [ ]:
del a[2]
a

['사과', '바나나', '메론', '복숭아', '딸기', '포도']

**예제 04**

"복숭아"와 "딸기" 사이에 "레몬"을 추가하세요

In [ ]:
a.insert(4,'레몬')
a

['사과', '바나나', '메론', '복숭아', '레몬', '딸기', '포도']

**예제 05**

최종적으로 만든 리스트 순서는 아래와 같습니다. 

* 리스트 순서: 사과, 바나나, 메론, 복숭아, 레몬, 딸기, 포도

사용자가 리스트 안의 과일을 입력하면 입력한 과일이 몇번째에 있는지 알려주는 코드를 작성하세요

```
>> 0
0 번째 과일은 사과 입니다.
>>3
3 번째 과일은 복숭아 입니다.
```

In [ ]:
b=int(input())
a[b]

3

'복숭아'

In [ ]:
b=int(input())
print(b,"번째 과일은",a[b],"입니다")

3
3 번째 과일은 복숭아 입니다

**예제 06**

리스트가 아래와 같이 정의되어 있습니다. `num_list`를 정의하세요

```
num_list = [1,2,3,4,5,6,7,8,9,10]
```

In [ ]:
num_list=[1,2,3,4,5,6,7,8,9,10]

**예제 07**

`num_list` 의 짝수 값만 슬라이싱 해서 `num_list1` 로 바인딩 하고 출력하세요.

In [ ]:
num_list1=num_list[1::2]
num_list1

[2, 4, 6, 8, 10]

**예제 08**

`num_list` 의 홀수 값만 슬라이싱 해서 `num_list2` 로 바인딩 하고 출력하세요.

In [ ]:
num_list2=num_list[::2]
num_list2

[1, 3, 5, 7, 9]

**예제 09**

`num_list` 의 3의 배수만 슬라이싱 해서 `num_list3` 으로 바인딩 하고 출력하세요.

In [ ]:
num_list3=num_list[2::3]
num_list3

[3, 6, 9]

**예제 10**

`num_list1` 과 `num_list2` 를 합쳐 `num_list4`으로 바인딩하세요

In [ ]:
num_list4=num_list1+num_list2
num_list4

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

**예제 11**

`num_list4` 을 오름차순으로 정렬하세요

In [ ]:
num_list4.sort()
num_list4

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**예제 12**

리스트가 아래와 같이 정의되어 있습니다. 문자열로 바꿔 출력하는 코드를 두 줄만 써서 작성하세요

```
>> my_list = ["a", "b", "c", "d"]
>> # 코드작성 (join 사용)
>> # 코드작성 (print 사용)
a and b and c and d
```

In [ ]:
my_list=["a","b","c","d"]
a=" and ".join(my_list)
print(a)

a and b and c and d


**예제 13**

사용자가 문자열을 입력하면 리스트로 변환하는 코드를 작성하세요 ★

|예시| 결과|
--|--
`a,b`| `[a,b]`
`a,c,d,f,q`| `[a,c,d,f,q]`
`d,c,a,b`| `[d,c,a,b]`

In [4]:
a=input()
b=a.split(sep=",")
b
print(b)

a,b,c
['a', 'b', 'c']

**예제 14**

사용자가 문자열을 입력하면 오름차순으로 정렬한 리스트를 출력하는 코드를 작성하세요 ★

|예시| 결과|
--|--
`a,b`| `["a","b"]`
`a,c,d,f,e`| `["a","c","d","e","f"]`
`d,c,a,b`| `["a", "b", "c", "d"]`

In [ ]:
a=input()
b=a.split(sep=",")
b.sort()
print(b)

a,b,d,c
['a', 'b', 'c', 'd']


**예제 15**

사용자가 문자열을 입력하면 문자열을 뒤집은 리스트를 출력하는 코드를 작성하세요

|예시| 결과|
--|--
`a,b`| `["b","a"]`
`a,c,d,f,e`| `["e","f","d","c","a"]`
`d,c,a,b`| `["b", "a", "c", "d"]`

In [ ]:
a=input()
b=a.split(sep=",")
b.reverse()
print(b)

a,b,c,d
['d', 'c', 'b', 'a']

**예제 16**


사용자가 문자열을 입력하면 내림차순으로 정렬한 리스트를 출력하는 코드를 작성하세요

|예시| 결과|
--|--
`a,b`| `["b","a"]`
`a,c,d,f,e`| `["f","e","d","c","a"]`
`d,c,a.b`| `["d", "c", "b", "a"]`

In [5]:
a=input()
b=a.split(sep=',')
b.sort()
b.reverse()
print(b)

a,c,d,f,e
['f', 'e', 'd', 'c', 'a']

**예제 17**

기말고사 점수가 아래와 같습니다. score를 정의하세요

```
score = [80,20,30,50,20,20,100,90]
```

In [ ]:
score=[80,20,30,50,20,20,100,90]
score

[80, 20, 30, 50, 20, 20, 100, 90]

**예제 18**

기말고사 점수의 최저점수와 최고점수를 구하는 코드를 작성하세요

In [ ]:
min(score),max(score)

(20, 100)

**예제 19**

기말고사 점수의 평균을 구하는 코드를 작성하세요

In [ ]:
sum(score)/len(score)

51.25

**예제 20**

아파트 층이 다음과 같습니다. 리스트로 저장하세요 (이 리스트의 길이는 4입니다(층별) 각 층별 안에 3개의 호수가 들어갑니다.)


```
|401|402|403|
|301|302|303|
|201|202|203|
|101|102|103|
```

In [ ]:
a=[[401,402,403],[301,302,303],[201,202,203],[101,102,103]]
a

[[401, 402, 403], [301, 302, 303], [201, 202, 203], [101, 102, 103]]

**예제 21**

이 리스트의 길이를 출력하고 길이가 4인지 확인하세요

In [ ]:
len(a)

4

**예제 22**

`[401,402,403]` 을 출력하세요

In [ ]:
a[0]

[401, 402, 403]



**예제 23**

`202`를 출력하세요

In [ ]:
a[2][1]

202

**예제 24**

`303`호를 출력하세요

In [ ]:
a[1][2]

303