<a href="https://colab.research.google.com/github/LeeHuiJong/SkillTreePython/blob/main/2_5_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9D%98_%EC%9E%90%EB%A3%8C%ED%98%95_%EC%A7%91%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2-5.파이썬의 자료형:집합 
---
* 날짜:
* 이름:

## 개념정리
---


수학에서 쓰이는 집합의 개념과 비슷하게 파이썬에서도 집합 (set) 을 사용할 수 있습니다.

### **(1) 생성**

괄호 `{ }` 를 통해서 집합을 생성 할 수 있습니다. 

```
a = {1,2,3}
type(a)
```

In [1]:
a={1,2,3}
type(a)

set

#### **집합의 요소**

집합의 요소로는 문자열, 수치자료형, 튜플이 가능합니다. 

```
a = {'a', 1, 0.5, (2,3)}
print(a)
```

In [2]:
a={1,'a',(2,3)}
a

{(2, 3), 1, 'a'}


`bool` 자료형은 제외됩니다.

```
a = {'a', 1, 0.5, (2,3), True}
print(a)
```

In [4]:
a={'a',1,0.5,True}
a

{0.5, 1, 'a'}

다른 군집 자료형 (리스트, 딕셔너리, 집합) 등은 에러 메시지가 뜹니다. 
 
```
a = {'a', 1, 0.5, (2,3), [1,2]}
print(a)
```

In [5]:
a={[1,2,3]}
a

TypeError: ignored

In [6]:
a={{1,2,3}}
a

TypeError: ignored

### **(2) 집합의 특징**

다른 군집자료형(문자열, 리스트, 튜플, 딕셔너리)과 다른 집합만의 특징은 두가지가 있습니다.

* 중복을 불허용 ★
* 순서가 없음 ★

#### **중복불허용**

집합에는 중복되는 값이 존재 하지 않습니다. 따라서 아래와 같이 초기값으로 중복된 요소를 넣더라도 중복값은 자동적으로 제거됩니다. 

```
a = {1,2,2,2,3}
print(a)
```

In [14]:
a={1,2,2,2,3}
a

{1, 2, 3}

이러한 특징을 가지고 있기 때문에 다른 군집 자료형에 대해 중복을 제거하기 위해 집합으로 바꾸기도 합니다. 

```
a_list = [1,2,3,2]
a = set(a_list)
a_list = list(a)
print(a_list)
```

In [15]:
a=[1,2,2,2,3]
a=list(set(a)) #중복 지우려면 set으로 바꾸고 다시 list로 바꾼다.
a

[1, 2, 3]

#### **순서없음**

집합에는 순서 개념이 없습니다. 따라서 군집 자료형을 집합으로 만드는 순간 자동으로 정렬됩니다.

```
a = {3,2,1}
print(a)
```

In [16]:
a={3,2,1} #{1,2,3}과 같은 의미를 지닌다(집합에서는)
a

{1, 2, 3}

집합 자료형에는 순서가 없기 때문에 인덱싱과 슬라이싱을 사용 할 수 없습니다. 


```
a = {1,2,3,4}
a[0]
```

In [18]:
a={1,2,3,4} #순서에 의미가 없기 때문에 인덱싱 슬라이싱이 적용 안된다. 가능하게 하려면 list로 변환후 실행한다.
a[0],a[:3]

TypeError: ignored

### **(3) 집합의 연산**

리스트나 튜플과 달리 집합은 `+` 나 * 연산이 불가능 합니다. 하지만 수학적 집합 개념과 마찬가지로 교집합, 합집합 차집합의 연산을 할 수 있습니다.


#### **교집합**

집합 `a`와 집합 `B`의 교집합을 구합니다. 참고로 `&`기호는 대부분의 언어에서 `and` 를 뜻합니다. 

* `a&b`  
* `a.intersection(b)` 


```
a = {1,2,3}
b = {3,4,5}

print(a & b, a.intersection(b), b.intersection(a))
```

In [19]:
a={1,2,3}
b={3,4,5}
a&b,a.intersection(b)

({3}, {3})

#### **합집합**

집합 `a`와 집합 `B`의 합집합을 구합니다. 참고로 `|`기호는 대부분의 언어에서 `or` 를 뜻합니다. 

* `a|b`  
* `a.union(b)` 

```
a = set([1,2,3])
b = set([3,4,5])
a | b, a.union(b), b.union(a) # a U b
```

In [21]:
a|b, a.union(b), b.union(a)

({1, 2, 3, 4, 5}, {1, 2, 3, 4, 5}, {1, 2, 3, 4, 5})

#### **차집합**

집합 `a`와 집합 `B`의 차집합을 구합니다.

* `a-b`
* `a.difference(b)`

```
a = set([1,2,3])
b = set([3,4,5])
print( a-b, a.difference(b) )
print( b-a, b.difference(a) )
```

In [22]:
a-b, a.difference(b), b-a, b.difference(a)

({1, 2}, {1, 2}, {4, 5}, {4, 5})

### **(4) 관련 메서드**

#### **내장함수**

다른 군집 자료형과 마찬가지로 내장함수를 사용할 수 있습니다.

* `len()`: 길이를 구합니다.
* `max()`: 최대값을 구합니다.
* `min()`: 최소값을 구합니다.
* `sum()`: 모든값을 더합니다.

```
a = {1,2,3,5}
len(a), max(a), min(a), sum(a)
```

In [23]:
a={1,2,3,5}

* `set()`: 집합 자료형으로 변환합니다.

```
a = [1,2,2,2,3,4,4]
set(a)
```


#### **기타 메서드**

*  `a.add(b)` : 집합 `a` 에 요소 `b`를 추가합니다.

리스트의 `append()` 기능과 유사합니다. 집합에 값을 하나 추가합니다. 다만 `append()`는 마지막에 값이 추가되는거와 달리 집합에서는 정렬된 위치에 값이 추가됩니다.

```
a ={1,2,3,5}
a.add(4)
print(a)
```

In [60]:
a={1,2,3,5}
a.append(4)
print(a)

AttributeError: ignored

In [61]:
a={1,2,3,5,6}
a.add(4) # append는 안먹힌다 고로 add를 써야한다 add는 값만 넣는것
a

{1, 2, 3, 4, 5, 6}

* `a.update([b, c, ..])` : 집합 `a`에 여러개의 요소를 추가합니다.

```
a = {1,2,3,5}
a.update([6,7,8])
print(a)
```

In [25]:
a={1,2,3,4,5}
a.update([6,7,8]) # update는 이어 붙이는 것이다. 군집자료에 쓰인다
a

{1, 2, 3, 4, 5, 6, 7, 8}

* `a.remove(b)` : 집합 `a`에서 요소 `b`를 제거합니다.

```
a = {1,2,3,5}
a.remove(2)
print(a)
```

In [26]:
a={1,2,3,5}
a.remove(2)
a

{1, 3, 5}

만약 `a`에 포함되어 있지 않은 요소를 제거하면 에러 메시지가 뜹니다.

```
a = {1,2,3,5}
a.remove(4)
print(a)
```

In [27]:
a={1,2,3,5}
a.remove(4)
print(a)

KeyError: ignored

In [59]:
|, a.union(b): #합집합
& a.intersection(b): #교집합
- a.difference(b): #차집합

SyntaxError: ignored

## 문제풀이
---

**예제 01**

부분 집합 A,B,C가 아래와 같습니다. 집합 A,B,C를 정의하세요

```
A = {1,2,3,5}
B = {1,2,3,4}
C = {1,3,4,6}
```

In [28]:
A={1,2,3,5}
B={1,2,3,4}
C={1,3,4,6}

**예제 02**

다음을 계산하세요.

$$ A \cup C$$

In [30]:
A|C, C|A , A.intersection(B), B.intersection(A)

({1, 2, 3, 4, 5, 6}, {1, 2, 3, 4, 5, 6}, {1, 2, 3}, {1, 2, 3})

**예제 03**

다음을 계산하세요.

$$ A-(B \cap C)$$

In [32]:
A-(B.intersection(C))

{2, 5}

**예제 04**

다음을 계산하세요.

$$ (A-B) \cup (B \cup C)$$

In [33]:
(A-B)|(B|C)

{1, 2, 3, 4, 5, 6}

**예제 05**

아래 결과의 모든 요소의 개수를 구하세요

$$(A \cap B) \cup (B \cap C) $$

In [34]:
(A.intersection(B))|(B.intersection(C))

{1, 2, 3, 4}


**예제 06**

아래 결과의 모든 요소의 합을 구하세요

$$(B - A) \cup (A \cup C) $$

In [35]:
(B-A)|(A|C)

{1, 2, 3, 4, 5, 6}

**예제 07**

집합 `S` 가 아래와 같이 정의되어 있을 때 짝수를 제거하고 출력하세요.

```
S = {1,3,4,5,7,9,10}
```

In [38]:
S={1,3,4,5,7,9,10}
S.remove(4)
S.remove(10)
S

{1, 3, 5, 7, 9}

**예제 08**

`예제 07` 에서 얻은 `S`에 15까지의 모든 홀수를 추가하고 출력하세요.

In [41]:
S.update([11,13,15])
S

{1, 3, 5, 7, 9, 11, 13, 15}

**예제 09**

아래와 같이 리스트가 정의되어 있습니다. 이 리스트에 포함된 숫자의 종류는 몇개인지 구하는 코드를 작성하세요

```
long_list = [5,3,2,3,4,3,4,5,6,67,7,5,3,4,32,24,42,5,6,8,5,5,5,5,3,3,3,56,3,3,6,7,5,8,8,7,34,55,682,232,7,87,8,5,4,32,12,21,2,2,5,4,5,355,2]
```

In [46]:
long_list = [5,3,2,3,4,3,4,5,6,67,7,5,3,4,32,24,42,5,6,8,5,5,5,5,3,3,3,56,3,3,6,7,5,8,8,7,34,55,682,232,7,87,8,5,4,32,12,21,2,2,5,4,5,355,2]
a=set(long_list)
len(a)

20

**예제 10**

사용자가 정수 `n`을 입력하면 위에서 정의한 리스트에서 `n`번째로 큰 숫자를 출력하는 코드를 작성하세요 (0번째부터 시작, 중복 없이 `n`번째 큰 숫자를 출력합니다.)

```
>> n을 입력하세요:3  
3 번째 작은 숫자는 9 입니다.
```

```
>> n을 입력하세요:5  
5 번째 작은 숫자는 20 입니다.
```

In [48]:
a=list(a)
a.sort()
print(a)

[2, 3, 4, 5, 6, 7, 8, 12, 21, 24, 32, 34, 42, 55, 56, 67, 87, 232, 355, 682]

In [58]:
n=input("n을 입력하세요:")
print(n,"번째 큰 숫자는",a[int(n)-1],"입니다.")

n을 입력하세요:3
3 번째 큰 숫자는 4 입니다.