<a href="https://colab.research.google.com/github/LeeHuiJong/SkillTreePython/blob/main/3_2_%EB%82%B4%EC%9E%A5%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3-2. 내장함수 
---
* 날짜:
* 이름:

## 개념정리
---

자료형을 배우면서 우리는 여러가지 내장함수에 대해서도 같이 배워봤습니다. 모든 값을 더하는 `sum()`, 최대값을 구하는 `max()`등 이제는 여러분이 친숙하게 알고 있는 이 함수들이 모두 파이썬에서 이미 만들어 놓은 내장함수 입니다. 내장 함수는 이 외에도 더 많습니다. 그 중에서도 우리가 아직 배우지 않았지만 중요한 함수 몇개를 추가로 배워보도록 하겠습니다. 

* `dir`
* `eval`
* `filter`
* `map`
* `lambda`

### **(1) dir**

이 함수는 각 자료형이 가지고 있는 변수나 함수를 보여줍니다. 우리는 앞에서 각 자료형들에 관련된 여러가지 함수들을 배워 봤습니다. 

예를 들어 딕셔너리 자료형에는 key 값을 얻는 `.keys` 나 value 값을 반환하는 `.values` 가 있었습니다. 

아래 코드를 실행하여 이를 확인해 봅시다. 


```
my_dict = {1:'a', 2:'b'}
dir(my_dict)
```

In [ ]:
my_dict={1:'a',2:'b'}
dir(my_dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

### **(2) eval**

* `eval(str)`


이 함수는 문자열을 코드로 바꿔 줍니다. 예를 들어 봅시다. 문자열 '1+2'는 연산한 값이 아니라 문자 그대로의 집합일 뿐입니다. 이를 `eval` 함수에 넣어보겠습니다. 

```
s = '1+2'
eval(s)
```

In [ ]:
s='1+2'
ss=eval(s)
ss, type(ss)

(3, int)

보시다 시피 문자열이 코드로 변경되어 1+2 의 결과인 3이 나오는 것을 볼수 있습니다. `eval(s)`의 타입 또한 정수 자료형이 `int`가 됩니다. 

이 함수는 익혀두면 유용하게 쓰일 수 있습니다. 특히 사용자의 입력을 받아서 사용할 때는 대부분 문자열로 받게 되는데 이를 바로 코드화 시키기 유용합니다.

```
a = [1,2,3]
s = input('a 를 입력하세요: ')
eval(s)
```

In [ ]:
a=[1,2,3]
s=input('a를 입력하세요:')
s. type(s)

a를 입력하세요:a

AttributeError: ignored

### **(3) filter**

* `filter( function, sequence)`

이 때 함수는 True 혹은 False를 반환합니다. 그리고 filter는 sequence 중 True 인 값만 반환합니다. 아래 예시를 봅시다.

`odd` 함수는 홀수 인지 판별 하여 홀수면 `True`를 짝수면 `False`를 반환합니다.

`filter` 함수는 리스트 값들 중 `True`값에 해당하는 홀수 값들만 반환합니다.

```
def upper3(x):
  return x>3

list(filter(upper3, [1,2,3,4,5]))
```

In [ ]:
def upper3(x):
  return x>3 #bool 값을 리턴
list(filter(upper3, [1,2,3,4,5])) #시퀀스([1,2,3,4,5])를 반환

[4, 5]

### **(4) map**

* `map( function, sequence)`

군집자료형에 있는 요소들을 차례대로 함수 (def)에 넣고 반환 값을 리스트로 돌려줍니다. 

아래 코드를 실행해 위에서 배운 `filter`와 다른점이 무엇인지 살펴봅시다.

```
def upper3(x):
  return x>3

list(map(upper3, [1,2,3,4,5]))
```

In [ ]:
def upper3(x):
  return x>3
list(map(upper3,[1,2,3,4,5])) #각각의 아웃풋을 반환한다

[False, False, False, True, True]

`filter`함수는 `True`에 해당하는 **인풋**을 걸러서 반환하는 반면,

`map`함수는 **아웃풋**을 모두 반환하는 것을 알 수 있습니다. 

`map`함수를 적절히 사용하면 복잡한 알고리즘도 간단히 표현할 수 있습니다. 아래는 리스트 각 요소들의 제곱값을 구하는 코드입니다. 

```
def square(x):
  return x**2

list(map(square, [1,2,3]))
```

In [ ]:
def square(x):
  return x**2
list(map(square, [1,2,3]))

[1, 4, 9]

#### **lambda**

`lammda` 는 원래 함수를 생성할 때 쓰이며 `def`와 동일한 역할을 합니다. 다만 `def`와 달리 보통 함수를 한줄로 간결하게 만들 때 사용합니다. `def`를 사용해야 할 정도로 복잡하지 않을 때 주로 쓰입니다. 

```
def plus(a,b):
  return a+b
```

위 함수는 아래와 완전히 동일합니다.

```
plus = lambda a, b:a+b
```

In [ ]:
plus=lambda a, b:a+b # 간단한 함수를 만들때 사용

함수를 호출 할 때는 마찬가지로 함수이름 `plus`와 괄호를 함꼐 써줍니다.

```
plus(1,2)
```

In [ ]:
plus(1,2)

3

`lambda`는 특히 `map`과 함께 쓸 때 그 진가를 발휘합니다. 
`map`(`filter`도 마찬가지)의 특성상 함수를 항상 필요로 하는데 대부분의 경우 함수가 간단한 경우가 많습니다. 

위 예제 중 시퀀스의 제곱을 구하는 코드를 봅시다.

```
def square(x):
  return x**2

list(map(square, [1,2,3]))
```

이 코드는 `lambda`를 이용하면 아래와 같이 작성 할 수 있습니다.


```
square = lambda x: x**2
list( map(square, [1,2,3]) )
```

In [ ]:
square=lambda x:x**2
list(map(square,[1,2,3]))

[1, 4, 9]

함수를 바인딩 하지 않으면 아래와 같이 한줄로 작성하는 것도 가능합니다. 

```
list( map(lambda x: x**2, [1,2,3]) )
```

In [ ]:
list(map (lambda x: x**2,[1,2,3])

SyntaxError: ignored

`filter` 함수와도 함께 쓸 수 있습니다. 위에서 3보다 큰 숫자들만 반환하는 코드를 작성해 보았습니다.

```
def upper3(x):
  return x>3

list(filter(upper3, [1,2,3,4,5]))
```

이를 `lambda`를 사용해서 아래와 같이 한줄로 표현할 수 있습니다.

```
list(filter(lambda x: x>3, [1,2,3,4,5]))
```

In [ ]:
list(filter(lambda x: x>3,[1,2,3,4,5]))

[4, 5]

## 문제 풀이
---


**예제 01**

리스트 자료형에  관련된 변수 혹은 함수를 출력해 보세요.

In [ ]:
x={1:'a',2:'b',3:'c'}
dir(x)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

**예제 02**

계산기를 만듭니다. 사용자는 `input()` 을 통해 계산식을 입력합니다.

* 예시
```
>> 계산식을 쓰세요: 1+2*5
1+2*5 의 결과는 11 입니다.
```

In [ ]:
a=input("계산식을 쓰세요")
print(a,"의 결과는",eval(a),"입니다.")

계산식을 쓰세요1+2*5
1+2*5 의 결과는 11 입니다.

**[정의] 03~06**

아래와 같이 `long_list`를 정의하세요.

```
long_list = [5,3,2,3,4,3,4,5,6,67,7,5,3,4,32,24,42,5,6,8,5,5,5,5,3,3,3,56,3,3,6,7,5,8,8,7,34,55,682,232,7,87,8,5,4,32,12,21,2,2,5,4,5,355,2]
```

In [ ]:
long_list = [5,3,2,3,4,3,4,5,6,67,7,5,3,4,32,24,42,5,6,8,5,5,5,5,3,3,3,56,3,3,6,7,5,8,8,7,34,55,682,232,7,87,8,5,4,32,12,21,2,2,5,4,5,355,2]

**예제 03**

`long_list`에서 짝수값들만 뽑아서 `even_list`로 정의하세요. **코드 한줄로 작성하세요**

In [ ]:
even_list=list(filter(lambda x: x%2==0,long_list))
even_list.sort()
print(even_list)

[2, 2, 2, 2, 4, 4, 4, 4, 4, 6, 6, 6, 8, 8, 8, 8, 12, 24, 32, 32, 34, 42, 56, 232, 682]

**예제 04**

`long_list`에서 5의 배수들만 뽑아서 `5_list`로 정의하세요. **코드 한줄로 작성하세요**

In [ ]:
even_list=list(filter(lambda x: x>=5 and x%5==0,long_list))
even_list.sort()
print(even_list)

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 55, 355]

**예제 05**

`long_list`의 모든 요소에 각각 10을 곱한 값을 구하여 리스트로 반환하세요. **코드 한줄로 작성하세요**

In [ ]:
print(list(map(lambda x: x*10,long_list)))

[50, 30, 20, 30, 40, 30, 40, 50, 60, 670, 70, 50, 30, 40, 320, 240, 420, 50, 60, 80, 50, 50, 50, 50, 30, 30, 30, 560, 30, 30, 60, 70, 50, 80, 80, 70, 340, 550, 6820, 2320, 70, 870, 80, 50, 40, 320, 120, 210, 20, 20, 50, 40, 50, 3550, 20]

**예제 06**

`long_list` 모든 요소가 각각 몇자리 숫자인지 구하여 리스트로 반환하세요. **코드 한줄로 작성하세요**

In [ ]:
print(list(map(lambda x: len(str(x)),long_list)))

[1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 3, 3, 1, 2, 1, 1, 1, 2, 2, 2, 1, 1, 1, 1, 1, 3, 1]

**예제 07**

`map`과 `lambda`를 이용해 한줄의 코드로 구구단 5단을 출력해 보세요. 실행 결과는 아래와 같습니다.


```
['5 x 1 = 5',
 '5 x 2 = 10',
 '5 x 3 = 15',
 '5 x 4 = 20',
 '5 x 5 = 25',
 '5 x 6 = 30',
 '5 x 7 = 35',
 '5 x 8 = 40',
 '5 x 9 = 45']
```

In [ ]:
list(map(lambda x: x*5,[1,2,3,4,5,6,7,8,9]))

[5, 10, 15, 20, 25, 30, 35, 40, 45]

**[정의] 08~10**

아래와 같이 물건의 이름과 가격이 적힌 딕셔너리가 있습니다. 
```
mart = {'a': ['apple', 1000], 'b': ['beer', 1200] , 'c' : ['cherry', 2000], 'd':['donut', 1500], 'e': ['egg', 500], 'f' : ['fish', 3000] }
```

In [ ]:
mart = {'a': ['apple', 1000], 'b': ['beer', 1200] , 'c' : ['cherry', 2000], 'd':['donut', 1500], 'e': ['egg', 500], 'f' : ['fish', 3000] }

In [ ]:
list(map(lambda x : x[1],mart.values()))

[1000, 1200, 2000, 1500, 500, 3000]

In [ ]:
list(map(lambda x : x,mart.keys()))

['a', 'b', 'c', 'd', 'e', 'f']

**예제 08**

가장 저렴한 값을 구하는 코드를 `map`과 `lambda`를 이용해 한줄로 작성하세요.

In [ ]:
min(list(map(lambda x : x[1],mart.values()))) # 다시한번 보기 ★

500

**예제 09**

가격의 평균을 구하는 코드를 `map`과 `lambda`를 이용해 한줄로 작성하세요

In [ ]:
sum(list(map(lambda x : x[1],mart.values())))/len(list(map(lambda x : x[1],mart.values()))) # 다시한번 보기 ★

1533.3333333333333

**예제 10**

다음과 같은 출력을 하는 코드를 작성해보세요. 가능하다면 코드 한줄로 작성해 보세요.

```
a is apple, b is beer, c is cherry, d is donut, e is egg
```

`hint`
  * `print`
  * `join`
  * `list`
  * `map`
  * `lambda`
  * `.keys()`

In [3]:
mart = {'a': ['apple', 1000], 'b': ['beer', 1200] , 'c' : ['cherry', 2000], 'd':['donut', 1500], 'e': ['egg', 500], 'f' : ['fish', 3000] }

In [21]:
list(map(lambda x : x,mart.keys()))[1] #다시 알아보기★

'b'

In [27]:
' '.join([list(map(lambda x : x,mart.keys()))[1],"is",list(map(lambda x : x[0],mart.values()))[1]])

'b is beer'